@media screen 
and (min-width:1201px){.software{ 
width: 436px; height:580px;
background:url(software.png) 0 0;}
}

@media screen 
and (max-width:1200px) and (min-width:1001px){.software{
left: 430px; width: 435px; height:580px;
background:url(software.png) -436px 0;}
}

@media screen 
and (max-width:1000px) and (min-width:801px){.software{
left: 873px; width: 335px; height:582px;
background:url(software.png) -871px 0;}
}

@media screen 
and (max-width:800px) and (min-width:601px){.software{
width: 715px; height:635px;
background:url(software.png) 0 -580px;}
}

@media screen 
and (max-width:600px) and (min-width: 1px){ .software{
width: 485px; height:625px;
background:url(software.png) -720px -590px;}
}
